# Майнор по Анализу Данных, Группа ИАД-4
## 14/12/2017 Зависимости в данных

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
plt.style.use('ggplot')
    
%matplotlib inline

plt.rcParams['figure.figsize'] = (14, 7)

/Users/andrey.shestakov/anaconda2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

## Foodmart product sales

Загрузите данные `foodmard.sales.tsv` и `foodmart.products.tsv`. Вам необходимо выявить взаимосвязь в продажах продуктов по всем магазинам.

In [2]:
sales = pd.read_csv('foodmart.sales.tsv', sep = '\t', header = 0, parse_dates = [2])

In [3]:
sales.head()

   product_id  store_id       date  sales
0           4         6 1997-01-01      4
1          25         6 1997-01-01      3
2          48         6 1997-01-01      3
3          76         6 1997-01-01      4
4         119         6 1997-01-01      3

In [4]:
products = pd.read_csv('foodmart.products.tsv', sep = '\t', header = 0)

In [5]:
products.head()

,product_class_id,product_id,brand_name,product_name,SKU,SRP,gross_weight,net_weight,recyclable_package,low_fat,units_per_case,cases_per_pallet,shelf_width,shelf_height,shelf_depth
0,30,1,Washington,Washington Berry Juice,90748583674,2.85,8.39,6.39,False,False,30,14,16.9,12.60,7.40
1,52,2,Washington,Washington Mango Drink,96516502499,0.74,7.42,4.42,False,True,18,8,13.4,3.71,22.60
2,52,3,Washington,Washington Strawberry Drink,58427771925,0.83,13.10,11.10,True,True,17,13,14.4,11.00,7.77
3,19,4,Washington,Washington Cream Soda,64412155747,3.64,10.60,9.60,True,False,26,10,22.9,18.90,7.93
4,19,5,Washington,Washington Diet Soda,85561191439,2.19,6.66,4.65,True,False,7,10,20.7,21.90,19.20

In [6]:
sales = sales.merge(products[['product_id', 'product_name']], 
                    on = ['product_id'], how = 'inner')

In [7]:
sales.head()

   product_id  store_id       date  sales           product_name
0           4         6 1997-01-01      4  Washington Cream Soda
1           4         7 1997-01-05      3  Washington Cream Soda
2           4         6 1997-01-06      2  Washington Cream Soda
3           4        17 1997-01-11      2  Washington Cream Soda
4           4        24 1997-01-11      2  Washington Cream Soda

## Взаимное влияние продуктов друг на друга

Составьте таблицу вида  (Дата, магазин) - (Товар), так, чтобы в соответствующей ячейке было указано количество единиц товара купленного в соответствующий день в соответствующем магазине.

In [8]:
pivot_sales = sales.pivot_table(index=['date', 'store_id'], 
                                columns='product_name',
                                values='sales', 
                                aggfunc='sum',
                                fill_value=0)

In [9]:
pivot_sales.shape

(780, 1559)

In [10]:
pivot_sales.head()

product_name         ADJ Rosy Sunglasses  Akron City Map  \
date       store_id
1997-01-01 6                           0               0
           14                          0               0
1997-01-02 11                          0               0
           23                          0               0
1997-01-03 7                           0               0

product_name         Akron Eyeglass Screwdriver  American Beef Bologna  \
date       store_id
1997-01-01 6                                  0                      0
           14                                 0                      0
1997-01-02 11                                 0                      0
           23                                 0                      0
1997-01-03 7                                  0                      0

product_name         American Chicken Hot Dogs  American Cole Slaw  \
date       store_id
1997-01-01 6                                 0                   0
           14                                0                   0
1997-01-02 11                                0                   0
           23                                0                   0
1997-01-03 7                                 0                   0

product_name         American Corned Beef  American Foot-Long Hot Dogs  \
date       store_id
1997-01-01 6                            0                            0
           14                           0                            0
1997-01-02 11                           0                            0
           23                           0                            0
1997-01-03 7                            0                            0

product_name         American Low Fat Bologna  American Low Fat Cole Slaw  \
date       store_id
1997-01-01 6                                0                           0
           14                               0                           0
1997-01-02 11                               0                           0
           23                               0                           0
1997-01-03 7                                0                           0

product_name                    ...               Washington Apple Juice  \
date       store_id             ...
1997-01-01 6                    ...                                    0
           14                   ...                                    0
1997-01-02 11                   ...                                    0
           23                   ...                                    0
1997-01-03 7                    ...                                    0

product_name         Washington Berry Juice  Washington Cola  \
date       store_id
1997-01-01 6                              0                0
           14                             0                0
1997-01-02 11                             0                0
           23                             0                0
1997-01-03 7                              4                0

product_name         Washington Cranberry Juice  Washington Cream Soda  \
date       store_id
1997-01-01 6                                  0                      4
           14                                 0                      0
1997-01-02 11                                 0                      0
           23                                 0                      0
1997-01-03 7                                  0                      0

product_name         Washington Diet Cola  Washington Diet Soda  \
date       store_id
1997-01-01 6                            0                     0
           14                           0                     0
1997-01-02 11                           0                     0
           23                           0                     0
1997-01-03 7                            0                     0

product_name         Washington Mango Drink  Washington Orange Juice  \
date       store_id
1997-01-01 6                              0                        0
           14                             0                        0
1997-01-02 11                             0                        0
           23                             0                        0
1997-01-03 7                              0                        0

product_name         Washington Strawberry Drink
date       store_id
1997-01-01 6                                   0
           14                                  0
1997-01-02 11                                  0
           23                                  0
1997-01-03 7                                   0

[5 rows x 1559 columns]

Посчитайте корреляцию

In [11]:
sales_corr = pivot_sales.corr()

In [12]:
import seaborn as sns

In [13]:
# sns.heatmap(sales_corr)

In [14]:
sales_corr.head()

product_name,ADJ Rosy Sunglasses,Akron City Map,Akron Eyeglass Screwdriver,American Beef Bologna,American Chicken Hot Dogs,American Cole Slaw,American Corned Beef,American Foot-Long Hot Dogs,American Low Fat Bologna,American Low Fat Cole Slaw,...,Washington Apple Juice,Washington Berry Juice,Washington Cola,Washington Cranberry Juice,Washington Cream Soda,Washington Diet Cola,Washington Diet Soda,Washington Mango Drink,Washington Orange Juice,Washington Strawberry Drink
product_name,,,,,,,,,,,,,,,,,,,,,
ADJ Rosy Sunglasses,1.000000,0.076608,-0.006581,0.038685,0.041105,-0.045887,-0.008466,0.062309,0.033752,-0.009656,...,0.053533,0.072249,0.061736,-0.000735,0.000843,0.028226,0.012653,0.089932,0.072668,0.035745
Akron City Map,0.076608,1.000000,0.026297,0.088709,0.061144,0.039347,0.019767,-0.005998,0.010270,0.078176,...,-0.021793,0.020514,0.051956,-0.001018,-0.032582,0.007142,0.035274,0.033875,0.078070,0.051952
Akron Eyeglass Screwdriver,-0.006581,0.026297,1.000000,-0.040851,0.034345,0.108726,0.007573,0.162355,0.020933,0.074292,...,-0.000237,-0.001297,0.049793,0.055047,0.031202,0.013510,-0.017855,0.022714,0.003156,0.163519
American Beef Bologna,0.038685,0.088709,-0.040851,1.000000,0.014780,-0.039118,-0.007890,-0.008264,-0.045949,0.085975,...,0.000197,0.081151,-0.053404,-0.021832,0.003286,0.090774,-0.031954,0.043843,0.080638,0.055211
American Chicken Hot Dogs,0.041105,0.061144,0.034345,0.014780,1.000000,-0.005336,0.017765,0.057972,0.071549,0.052460,...,0.098935,-0.024224,0.066212,0.043765,0.077541,0.045038,-0.037246,0.025975,0.129795,-0.008498

In [15]:
idx = np.triu_indices_from(sales_corr.values)

In [16]:
corr = sales_corr.values

In [17]:
corr[idx] = np.nan

In [20]:
sales_corr.iloc[:, :] = corr

Найдите товары с наибольшими значениями корреляции

In [22]:
sales_corr_unstack = sales_corr.unstack(level=1).to_frame()
sales_corr_unstack.columns = ['correlation']
sales_corr_unstack.index.names = ['product1', 'product2']

In [23]:
sales_corr_unstack = sales_corr_unstack.dropna()

In [24]:
idx = sales_corr_unstack.index.levels[0].values == sales_corr_unstack.index.levels[1].values

In [25]:
idx = sales_corr_unstack.index.get_level_values(0)!= sales_corr_unstack.index.get_level_values(1)

In [26]:
sales_corr_unstack = sales_corr_unstack.loc[idx, :]

In [27]:
sales_corr_unstack = sales_corr_unstack.sort_index(by='correlation')

/Users/andrey.shestakov/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

In [29]:
sales_corr_unstack.tail()

                                                         correlation
product1                     product2
Pleasant Regular Ramen Soup  Shady Lake Ravioli             0.298502
Robust Monthly Home Magazine Tri-State Lemons               0.303269
Club Low Fat Cottage Cheese  Skinner Strawberry Drink       0.306701
Great Muffins                Nationeel Grape Fruit Roll     0.322176
Just Right Vegetable Soup    Plato French Roast Coffee      0.340598

In [ ]:
sales_corr.

In [ ]:
sales_corr_unstack.index.levels[0].values

In [ ]:
sales_corr_unstack.index.levels[0]

# Образование и вера

General Social Survey — ежегодный опрос населения США, записывается около 5000 факторов. Из опроса 2008 года выбраны данные о вере и образовании 2000 опрошенных. Есть ли связь между степенью веры и уровнем образования?

In [30]:
df = pd.DataFrame(data = [[9,  8,27, 8, 47,236],
                          [23,39,88,49,179,706],
                          [28,48,89,19,104,293]],
                 index=["Less than high school", "High school/junior college", "Bachelor/graduate"],
                 columns=["don't", "no way", "some power", "sometimes", "doubts", "know"])